body{
    background-image:linear-gradient(to top right,red,yellow);
    background-repeat:no-repeat;
    margin: 0;
    background-attachment: fixed;
}
.navbar-brand{
    font-weight: bold;
    font-size: 1.5rem;
}
.navbar{
    font-weight:bold;
}
#title{
    color:white;
    text-align: center;
    padding-top: 15%;
    padding-bottom: 15%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.icon{
    text-align: center;
}
.card-header:hover{
    color:yellowgreen;
}
.card-footer{
    background-image:linear-gradient(to top right,black,yellow);
    background-repeat:no-repeat;
    background-attachment: fixed;
}
.card-footer p{
    text-align: center;
    padding:3%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.25rem;
    color:azure;
}

.about{
    background-color:orangered;
    background-repeat:no-repeat;
    background-attachment: fixed;
    margin-top:7rem;
    margin-left:13rem;
    margin-right:13rem;
    padding-top:3rem;
    padding-bottom:3rem;
    text-align: left;
    padding-left: 3rem;
    padding-right:3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.25rem;
    color:azure;
    border-radius: 3rem;
}
.contact-body{
    background-color: orangered;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top:7rem;
    margin-left:13rem;
    margin-right:13rem;
    padding-top:3rem;
    padding-bottom:3rem;
    text-align: left;
    padding-left: 3rem;
    padding-right:3rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    color:azure;
    border-radius: 3rem;
}
.byjus, .udemy, .projectOne, .projectTwo, .projectThree, .projectFour{
    background-color:orangered;
    background-repeat:no-repeat;
    background-attachment: fixed;
    margin-top:7rem;
    margin-left:13rem;
    margin-right:13rem;
    padding-top:3rem;
    padding-bottom:3rem;
    text-align: left;
    padding-left: 3rem;
    padding-right:3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.25rem;
    color:azure;
    border-radius: 3rem;
}
.byjus a:hover{
    color:yellowgreen;
}
.byjus a{
    color:silver;
}
.udemy a{
    color:silver;
}
.udemy a:hover{
    color:greenyellow;
}
.projectOne a{
    color:silver;
}
.projectOne a:hover{
    color:greenyellow;
}
.projectTwo a{
    color:silver;
}
.projectTwo a:hover{
    color:greenyellow;
}